
.container-fluid {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; 
}

.banner{
    width: 100%;
    height: 100vh;
    background: url('/images/home/banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: #ffffff;
    overflow: hidden;
}
.overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.5}
.banner .tophead{margin-top: 150px;	}
.banner .title-main{
    font-size: 65px;
    font-weight: bold;
	text-transform: uppercase;
}
.banner .subtitle-main{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 1.5em;
}
.banner .btn-login{
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    background: #2995CF;
    border: 1px solid #2995CF;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
	cursor:pointer;
    box-shadow: 0px 0px 10px 0px #00000059;
}
.banner .btn-cadastro{
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #4f44ff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
	cursor:pointer;
    box-shadow: 0px 0px 10px 0px #00000059;
}
.separador a{margin: 0 7px 0 0;}

/***angulo***/

.angulo{z-index: 10;position: absolute;left: 0;bottom: 0;border-width: 0 0 35vh 100vw;border-style: solid;border-color: transparent transparent #ffffff transparent;}

/***Time***/

.time{position: relative;padding: 5rem 0;}
.title-time{text-align: center;color: #2995CF;text-transform: uppercase;font-weight: bold;font-size: 36px;margin-bottom: 23px;}
.subtitle-time{font-size: 16px;font-weight: 300;line-height: 27px;max-width: 660px;margin: 19px auto 103px;text-align: center;}

/***sobre***/

.sobre-wrap .title-sobre{text-align: center;color: #2995CF;text-transform: uppercase;font-weight: bold;font-size: 36px;margin-bottom: 23px;}
.sobre-wrap .subtitle-sobre{font-size: 16px;font-weight: 300;line-height: 27px;max-width: 660px;margin: 19px auto 30px;text-align: center;}

.sobre-box{height: 340px;width: 100%;text-align: center;padding: 35px 20px;}
.sobre-box:hover{box-shadow: 0px 0px 10px rgba(0,0,0,0.3);transition: all ease 1s;}
.sobre-box h5{font-weight: 700;line-height: 30px;font-size: 18px;text-transform: uppercase;color: #606060;margin-bottom:20px;}
.sobre-box p{font-size: 14px;color:#666666;}
.icones {vertical-align: middle;margin: 20px auto;}
.icones i {color:lightgrey;}
.sobre-box:hover .icones i.html5 {color: #e54d26;transition: all ease 1s;}
.sobre-box:hover .icones i.css3 {color: #379ad5;transition: all ease 1s;}
.sobre-box:hover .icones i.android {color: #a4c739;transition: all ease 1s;}
.sobre-box:hover .icones i.drupal {color: #0c76ab;transition: all ease 1s;}


/******/
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}






@media only screen and (max-width:736px) and (orientation:landscape){}
@media only screen and (max-width:667px) and (orientation:landscape){}
@media only screen and (max-width:568px) and (orientation:landscape){}
@media only screen and (min-width: 600px) and (max-width: 767px) {
	.enmica h2{font-size:18px;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
	.banner .tophead {margin-top: 145px;}
	.banner .title-main {font-size: 28px;}
	.banner .subtitle-main {font-size: 13px;}
	.banner .btn-explore{padding: 5px 8px;font-size: 13px;}
	.banner .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.sobre .title-sobre{font-size: 28px;}
	.sobre .subtitle-sobre{font-size: 14px;}
	/******/
	.title-time{font-size: 28px;}
	.subtitle-time{font-size: 14px;}
	/******/
	.slide-one {padding: 30px 25px;}
	/******/

}

@media only screen and (min-width: 321px) and (max-width: 479px) {
	.banner .tophead {margin-top: 145px;}
	.banner .title-main {font-size: 25px;}
	.banner .subtitle-main {font-size: 13px;}
	.banner .btn-explore{padding: 5px 8px;font-size: 13px;}
	.banner .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.sobre .title-sobre{font-size: 25px;}
	.sobre .subtitle-sobre{font-size: 14px;}
	/******/
	.title-time{font-size: 25px;}
	.subtitle-time{font-size: 14px;}

	.slide-one {padding: 30px 25px;}
	/******/

}


@media only screen and (max-width: 320px) {
	.banner .tophead {margin-top: 125px;}
	.banner .title-main {font-size: 18px;}
	.banner .subtitle-main {font-size: 13px;}
	.banner .btn-explore{padding: 5px 8px;font-size: 13px;}
	.banner .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.sobre .title-sobre{font-size: 25px;}
	.sobre .subtitle-sobre{font-size: 14px;}
	/******/
	.title-time{font-size: 25px;}
	.subtitle-time{font-size: 14px;}

	.slide-one {padding: 30px 25px;}


}



@-webkit-keyframes fa-spin-fast{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}}
@keyframes fa-spin-fast{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}}
.material-card{position:relative;height:0;padding-bottom:calc(100% - 16px);margin-bottom:6.6em}
.material-card h2{position:absolute;top:calc(100% - 16px);left:0;width:100%;padding:10px 16px 10px 20px;height:82px;color:#fff;font-size:1.4em;line-height:1.6em;margin:0;z-index:10;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;box-shadow: 0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.material-card h2 span{display:block}
.material-card h2 strong{font-weight:300;display:block;font-size:.76em}
.material-card h2:after,.material-card h2:before{content:' ';position:absolute;left:0;top:-16px;width:0;border:8px solid;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.material-card h2:after{top:auto;bottom:0}
@media screen and (max-width:767px){.material-card.mc-active{padding-bottom:0;height:auto}
}
.material-card.mc-active h2{top:0;padding:10px 16px 10px 90px}
.material-card.mc-active h2:before{top:0}
.material-card.mc-active h2:after{bottom:-16px}
.material-card .mc-content{position:absolute;right:0;top:0;bottom:16px;left:16px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;box-shadow:0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.material-card .mc-btn-action{position:absolute;right:16px;top:15px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:5px solid;width:54px;height:54px;line-height:46px;text-align:center;color:#fff!important;cursor:pointer;z-index:20;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.material-card .mc-btn-action:hover{box-shadow:0 0px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.material-card.mc-active .mc-btn-action{top:62px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.material-card .mc-description{position:absolute;top:100%;right:30px;left:30px;bottom:54px;overflow:hidden;opacity:0;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s}
.material-card .mc-footer{height:0;overflow:hidden;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.material-card .mc-footer h4{position:absolute;top:200px;left:30px;padding:0;margin:0;font-size:16px;font-weight:700;-webkit-transition:all .4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s}
.material-card .mc-footer a{display:block;float:left;position:relative;width:40px;height:40px;margin-left:10px;font-size:16px;color:#fff;line-height:36px;text-decoration:none;top:200px;border-radius:50px;}
.material-card .mc-footer a:nth-child(1){-webkit-transition:all .1s;-moz-transition:all .1s;-ms-transition:all .1s;-o-transition:all .1s;transition:all .1s}
.material-card .mc-footer a:nth-child(2){-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.material-card .mc-footer a:nth-child(3){-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.material-card .mc-footer a:nth-child(4){-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;-o-transition:all .4s;transition:all .4s}
.material-card .mc-footer a:nth-child(5){-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.material-card .img-container{overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;z-index:3;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.material-card.mc-active .img-container{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;left:0;top:12px;width:55px;height:55px;z-index:20}
.img-fluid{max-width:100%}
.material-card.mc-active .mc-content{padding-top:5.6em}
@media screen and (max-width:767px){.material-card.mc-active .mc-content{position:relative;margin-right:16px}
}
.material-card.mc-active .mc-description{top:50px;padding-top:5.6em;opacity:1;text-align:left;}
@media screen and (max-width:767px){.material-card.mc-active .mc-description{position:relative;top:auto;right:auto;left:auto;padding:50px 30px 70px 30px;bottom:0}
}
.material-card.mc-active .mc-footer{overflow:visible;position:absolute;top:calc(100% - 16px);left:16px;right:0;height:72px;display:flex;align-items:center;justify-content:center;    box-shadow:0 2px 20px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.material-card.mc-active .mc-footer a{top:0;border:2px solid #e8eaf6;}
.material-card.mc-active .mc-footer h4{top:27px;left:20px;font-weight:400;}
.material-card.Red h2{background-color:#DC3545}
.material-card.Red h2:after{border-top-color:#DC3545;border-right-color:#DC3545;border-bottom-color:transparent;border-left-color:transparent}
.material-card.Red h2:before{border-top-color:transparent;border-right-color:#DC3545;border-bottom-color:#DC3545;border-left-color:transparent}
.material-card.Red.mc-active h2:before{border-top-color:transparent;border-right-color:#DC3545;border-bottom-color:#DC3545;border-left-color:transparent}
.material-card.Red.mc-active h2:after{border-top-color:#DC3545;border-right-color:#DC3545;border-bottom-color:transparent;border-left-color:transparent}
.material-card.Red .mc-btn-action{background-color:#DC3545}
.material-card.Red .mc-btn-action:hover{background-color:#DC3545}
.material-card.Red .mc-footer h4{color:#DC3545}
.material-card.Red .mc-footer a{background-color:#DC3545}
.material-card.Red.mc-active .mc-content{background-color:#e7b3ba45}
.material-card.Red.mc-active .mc-footer{background-color:#dc354552}
.material-card.Red.mc-active .mc-btn-action{border-color:#FCE4EC}