.perfil {border-radius: 50%;border: solid 5px #292929; position: ; right: 35px; top: 5px;}
.transparente{position: absolute;}
.box-perfil{position: absolute;right: 20px;z-index: 999999;}


body {
  overflow-x: hidden;
}


/* Footer */

.footer-area {position: relative;z-index: 100;background: #222;word-break: break-all;color: #fff;word-wrap: break-word;}
.footer-area ul {list-style: none;padding-left: 0px;margin-bottom: 0;}
.bloco-ftr form{margin-top: 8px;}
.bloco-ftr p{margin-bottom: 10px;}
.title-ftr{color: #2995CF;text-transform: uppercase;font-size: 17px;margin-top: 0px;margin-bottom: 15px;}
.ftr-logo {float: left;padding: 15px 46px 0 0;}
.ftr-logo a img {transition: all 0.4s ease-in-out 0s;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;}
.ftr-logo a:hover img {-webkit-filter: grayscale(100%);filter: grayscale(100%);opacity: 0.3;}
.newsletter-form form{position: relative;display: block;}
.newsletter-form {margin-top: 0px;overflow: hidden;}
.newsletter-form .form-control {height: 50px;line-height: 50px;margin: 0;padding: 8px 20px;width: 100%;position: relative;background: transparent;color: #fff;border-radius: 0;}
.newsletter-form button {border: inherit;border-radius: 0;background: transparent;color: #fff;text-transform: uppercase;box-shadow: none;border: 1px solid transparent;transition: 0.5s;letter-spacing: 0.5px;position: absolute;right: 0px;top: 0;padding: 12px 17px;transition: .5s;}
.newsletter-form button:hover{background: transparent;color: #2995CF;opacity: .9;}
.bloco-ftr li {padding-bottom: 7px;color: #fff;}
.bloco-ftr a {color: #fff;}
.bloco-ftr a:hover {color: #2995CF;}
.ftr-social-icon li {display: inline-block;text-align: center;padding: 4px;}
.ftr-social-icon ul li a {border: 1px solid #fff;border-radius: 50%;color: #fff;display: inline-block;font-size: 17px;height: 40px;line-height: 32px;padding: 4px 8px;width: 40px;transition: .5s;}
.ftr-social-icon ul li a:hover{background: #2995CF;border-color: #2995CF;color: #fff;}
.ftr-btm-area {background: transparent;padding-top: 20px;padding-bottom: 20px;border-top: 1px dotted #888;margin-top: 28px;z-index: 100;position: relative;}
.copyright_text{margin: 6px 0;}
.payment-mthd-icon li {display: inline-block;margin-left: 10px;font-size: 30px;color: #fff;}

/* footer */

/* LayoutHome */
.navname{color: #3a3a3a;}
.navhome{position: absolute;}

  @media print {
    .navbar {
    display: none;
    }
  }
  
  .avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
  }
  
  .avatar img {
  width: 100%;
  border-radius: 50%;
  }
  
  .avatar-sm {
  font-size: .875rem;
  width: 36px;
  height: 36px;
  }
  
  .dropdown {
  display: inline-block;
  }
  
  .dropdown-menu {
  min-width: 12rem;
  border-top: 1px solid #ffffff00;
  border-bottom: 1px solid #000000a6;
  border-left: 1px solid #000000a6;
  border-right: 1px solid #000000a6;
  margin: 0.484rem 0 0;
  border-radius: .0em;
  }

  .dropdown-menu-right {
    right: -22%;
    left: auto;
}
  
  .dropdown-menu .dropdown-item {
  font-size: .875rem;
  padding: .5rem 1rem;
  
  }

  .input-group {
  transition: all .15s ease;
  border-radius: .375rem;
  box-shadow: none;
  }
  
  .input-group-alternative {
  transition: box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
  }
  
  .input-group-alternative .form-control,
  .input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
  }

  
  

.fa-sort-down{margin-bottom: 2px;width:20px;}
.fa-sort-up{margin-bottom:-5px;width:20px;}
  
  
