/* CLASSES QUE SE APLICAM APENAS ONDE O ARQUIVO FOR CHAMADO!!!*/

/* CLASSES QUE SE APLICAM APENAS ONDE O ARQUIVO FOR CHAMADO!!!*/

/* CLASSES QUE SE APLICAM APENAS ONDE O ARQUIVO FOR CHAMADO!!!*/


.fundo-login{background-image: url(/images/login/fundo-login.jpg);background-size: cover;height: 100%;}

.nav-login img{width: 60%;}

.margin-login {margin: 50px 0px 50px 0px;}

.visual-padding{padding: 40px;}

