/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* Cor Principal #292929 */
/* Cor Secundaria #2995CF */
*{
  margin: 0;
  padding: 0;
}
html {
scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{margin:0;}

body {
    overflow-x: hidden;background-color: #fff
  }

html,body{width: 100%;height:100%;background-color: #fff}

.text-white{color: #fff;}
.theme-color{color: #2995CF;}
.pt-50{padding-top: 50px;}
.traco-v{border-right: 3px solid #fff; margin-left: 10px; display: inline-block;}


.mb-0{margin-bottom: 0px !important;}
textarea{background-color: #ffffff00 !important;}


.full-section{height: 100vh;}
.full-section .container{height: 100%;}
.full-section .container .row{height: 100%;}

.image-section{background-size: contain;background-position-y: center;background-repeat: no-repeat;}

.p-0{padding: 0;}
.h-80{height: 80px;}
.mt-30{margin-top: 30px;}