/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* CLASSES QUE SE APLICAM A TODO O SITE!!!! */

/* Cor Principal #292929 */
/* Cor Secundaria #2995CF */

html,body{width: 100%;height:100%;background-color: #292929;}

.transparente{position: absolute;}

.text-white{color: #fff;}
.theme-color{color: #2995CF;}